.container {
  padding: 2rem 0;
  width: 70%;
  justify-self: center;
}

.search {
  display: flex;
  justify-content: space-between;
}

.noProducts {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
  margin: 1rem 1rem 0 1rem;
}

@media screen and (max-width: 850px) {
  .container {
    width: 90%;
  }

  .search {
    flex-direction: column;
  }
}
