.container {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  justify-self: right;
  gap: 5px;
}

.container button {
  background-color: white;
  padding: 0.5rem;
  border: 1px solid var(--primary-shade-2);
  border-radius: 0.5rem;
  cursor: pointer;
}

.container button:hover {
  background-color: var(--primary-shade-2);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: white !important;
}

.disabled:hover {
 cursor: not-allowed;
}

@media screen and (max-width: 850px) {
  .container {
    width: 25%;
    justify-self: center;
  }
}
